#experience {
  &.soloist {
    .background svg .point {
      fill: #ffffff;
    }

    .foreground {
      opacity: 0.5;

      svg {
        background-color: transparent;
      }

      .point {
        fill: $midnight-blue;
      }
    }
  }

  &.player {
    transition: background-color 2s;
  }
}
